.container,
.active {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  padding: 4px 30px;
  margin-bottom: 10px;
}

.container {
  color: var(--dark60);
}

.container:hover {
  color: var(--hover);
  border-right: 5px solid var(--primary);
}

.logo {
  font-size: 24px;
  padding-right: 12px;
  margin: auto 0;
}

.name {
  padding-top: 5px;
}

.active {
  color: var(--primary);
  border-right: 5px solid var(--primary);
}