.content_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  background-color: white;
  margin: 30px;
  padding: 15px 30px;
  border-radius: 12px;
}

.top_section {
  display: flex;
  flex-direction: column;
}

.filter_wrapper_top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.filter_wrapper_top .select_input {
  width: 220px;
}

.select_input {
  font-family: "Inter", sans-serif !important;
  color: var(--dark90);
}

.filter_wrapper_bottom > div {
  display: flex;
  flex-grow: 2;
}

.filter_wrapper_bottom .select_input {
  width: 220px;
}

.select_input > div {
  padding: 0.15rem 0.5rem;
  border: 1px solid var(--dark80);
  border-radius: 12px;
  margin: 0.5rem 0;
  margin-right: 1rem;
  font-size: 14px;
}

.select_input span {
  display: none;
}

.select_input svg {
  color: black;
}

.form_container {
  display: flex;
  align-items: baseline;
}
