:root {
  --primary: #0583d2;
  --hover: #0268b1;
  --background: #e8f4fc;
  --dark90: #505152;
  --dark80: #666869;
  --dark60: #a0a1a1;
  --neutrals: #7b827e;
  --sucess-default: #189f00;
  --error-default: #d32f2f;
}
* {
  font-family: "Inter", sans-serif;
}

.no-pl {
  padding-left: 0;
}

.label {
  font-size: 1em;
  font-weight: 600;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.private-routes-container {
  display: flex;
  flex-direction: row;
}

.private-routes-wrapper {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin-left: 18%;
}

::placeholder,
div.css-14el2xx-placeholder {
  color: var(--dark60);
}
